<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.PasswordParameterDefinition>
          <name>password</name>
          <description>password to access mssql server</description>
          <defaultValue>{AQAAABAAAAAQ/uDsqjx8S3OCwFlD6DfiBxIJb762wVCpUBIi0n4KAck=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.PasswordParameterDefinition>
          <name>password3</name>
          <description>password for pcu team</description>
          <defaultValue>{AQAAABAAAAAQ4Gf8cuQA/j6hmnC/I9v65bg9Bx67tlW2NHpjJ9qskro=}</defaultValue>
        </hudson.model.PasswordParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>command</name>
          <description>Flyway command</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>info</string>
              <string>migrate</string>
              <string>clean</string>
              <string>repair</string>
              <string>validate</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash +x

/opt/flyway/flyway ${command} -url=&quot;jdbc:sqlserver://mssqlserver:1433&quot; -configFiles=flyway.conf -password=${password}${password3}</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@1.27">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
          <credentialsId>password_db</credentialsId>
          <variable>password2</variable>
        </org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
  </buildWrappers>
</project>